:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, .9);
  background-color: rgb(36, 36, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  place-items: center;
}

body {
  margin: 0 !important;
  padding: 1em !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  width: 100%;
  height: 100%;
}

.no-pointer {
  pointer-events: none !important;
  cursor: default;
}

button {
  border: 0 !important;
  outline: thin solid rgba(255, 255, 255, .9);
  background-color: rgba(255, 255, 255, .8);
  color: black;
  font-size: 1vw;
  
  padding: .5em 1em;
  border-radius: .3em;

  cursor: pointer;
  transition: background-color 250ms;

  &:hover {
    background-color: rgba(255, 255, 255, .6);
  }

  &:focus {
    outline: .015em solid rgba(255, 255, 255, 1);
  }
}

.centered-item {
  margin: auto;
}