:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: rgba(255, 255, 255, .9);
  --main-bg-color: rgb(36, 36, 36);
  --main-btn-color: rgba(30, 30, 30, .8);
  --main-btn-bg-color: rgba(255, 255, 255, .8);
  --main-btn-bg-color--hover: rgba(255, 255, 255, .6);
  --main-btn-bg-color--disabled: rgba(255, 255, 255, .5);
  --main-btn-outline-color--focus: rgba(255, 255, 255, 1);
  --headers-row-bottom-border: rgb(245, 245, 245);
  --file-item-row-bottom-border: rgb(213, 213, 213);
  --file-item-row-background-color--hover: rgba(255, 255, 255, 0.25);
  --used-space-bar-bg-color: rgb(78, 115, 22);
  --used-space-bar-text-color: whitesmoke;

  color-scheme: light dark;
  color: var(----main-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  place-items: center;

  transition: color 150ms, background-color 150ms;
  user-select: none;
}

.light-scheme {
  --main-color: black;
  --main-bg-color: rgb(225, 225, 211);
  --main-btn-color: black;
  --main-btn-bg-color: rgba(236, 191, 77, 0.8);
  --main-btn-bg-color--hover: rgba(236, 191, 77, .6);
  --main-btn-bg-color--disabled: rgba(236, 191, 77, .4);
  --main-btn-outline-color--focus: rgba(40, 40, 40, 1);
  --headers-row-bottom-border: rgb(62, 62, 62);
  --file-item-row-bottom-border: rgb(50, 50, 50);
  --file-item-row-background-color--hover: rgba(245, 245, 220, 0.25);
  --used-space-bar-bg-color: rgb(154, 242, 205);
  --used-space-bar-text-color: black;
  color-scheme: light;
}

body {
  margin: 0 !important;
  padding: 1em !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  width: 100%;
  height: 100%;
}

.no-pointer {
  pointer-events: none !important;
  cursor: default;
}

button {
  border: 0 !important;
  outline: thin solid var(----main-color);
  background-color: var(--main-btn-bg-color);
  color: var(--main-btn-color);
  font-size: 1vw;
  
  padding: .5em 1em;
  border-radius: .3em;

  box-shadow: 0 .1em .1em .5em thin solid var(--main-bg-color);

  cursor: pointer;
  transition: background-color 250ms;

  &:hover {
    background-color: var(--main-btn-bg-color--hover);
  }

  &:focus {
    outline: .015em solid var(--main-btn-outline-color--focus);
  }

  &:disabled {
    background-color: var(--main-btn-bg-color--disabled) !important;
    pointer-events: none !important;
    cursor: default !important;
  }
}

select {
  border: 0 !important;
  outline: thin solid var(----main-color);
  background-color: var(--main-btn-bg-color);
  color: var(--main-btn-color);
  font-size: 1vw;
  
  padding: .5em 1em;
  border-radius: .3em;

  box-shadow: 0 .1em .1em .5em thin solid var(--main-bg-color);
}

.centered-item {
  margin: auto;
}